body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
    text-shadow: 2px black;
}

#main {
    background-image: url("/images/br1.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: column;
}



.ui-page {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-shadow: 2px 2px 4px #000000;
    font-size: 100%;
    font-weight: bold;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 43%, rgba(164,8,8,1) 100%, rgba(0,212,255,1) 100%);
}
